<div class="register">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
 
  <div class="register_fields_container"> 
   <div class="lines">
    <%= f.label :full_name%>
    <%= f.text_field :name, autocomplete: "Name", autofocus: true %>
  </div>
    
  <div class="lines">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="lines">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters min)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="lines">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div>
    <%= f.submit "Sign up", class: "sign_up_button" %>
  </div>
<% end %>
</div>
</div>

