<%= form_with model: [@group], local:true do |form| %>
  <%= form.label :name, "Category"%>
  <%= form.text_field :name, :required => true  %> 
  <%= form.label :icon, "Icon"%>
  <%= form.url_field :icon, :required => true %>
<div class="bottom_button_container">
  <%= form.submit "ADD NEW CATEGORY", class: 'bottom_button' %>
</div>
<% end %>