<div>
<% @expenses.each do |spend|%>
 <% @group_amount += spend.amount%>
<%end%>

<%= @group.name%>
<%= @group_amount%>

<% @expenses.each do |expense|%>
<%= expense.name %>
<%= expense.created_at.strftime("%d %b %Y at %l%P")%>
<%= expense.amount%>
<%end%>
</div>