<div class="register">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="lines">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="lines">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="lines">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
  <div class="sign_up_button_container">
    <%= f.submit "Log in", class: "sign_up_button" %>
  </div>
<% end %>
</div>

