<%= form_with(model: @expense, url: group_expenses_path(@group)) do |form| %>
  <%= form.label :name, "Expense"%>
  <%= form.text_field :name, :required => true  %> <br><br>
  <%= form.label :amount, "Amount"%>
  <%= form.text_field :amount, :required => true, type: 'number', step: '0.1' %><br>
  <%= form.label "Select Categories"%>
  <% @groups.each do |group| %>
    <label>
      <%= check_box_tag "expense[group_ids][]", group.id, @expense.groups.include?(group)%>
      <%= group.name %>
    </label><br>
  <% end %>
  <%= form.submit "Add new Expense", class: "button" %>
<% end %>



<%= link_to "Back", groups_path %>