<div class="navbar<%= '_center' if current_page?(groups_path) %>">
  <%= link_to @arrow_path do%>
    <%unless current_page?(groups_path)%>
      <%= image_tag 'arrow.svg', class: 'arrow'%>
    <%end%>
  <% end %>
  <p><%= "#{@path_description}"%></p>

  <%unless current_page?(groups_path)%>
    <%= image_tag 'right_arrow.svg', class: 'arrow'%>
  <% end %>
</div>