<div class="navbar<%= '_center' if current_page?(groups_path) %>">
  <%= link_to @arrow_path do%>
    <%unless current_page?(groups_path)%>
      <%= image_tag 'arrow.svg', class: 'arrow'%>
    <%end%>
  <% end %>
  <p class="nav_path"><%= "#{@path_description}"%></p>

  <% unless current_page?(root_path) || current_page?(user_session_path) || current_page?(new_user_registration_path) %>
    <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete }, class: 'nav_sign_out' %>
  <% else %>
    <% if current_page?(user_session_path) || current_page?(new_user_registration_path) %>
      <span class="nav_sign_out_hide">Sign Out</span>
    <% end %>  
  <% end %>
</div>