<!DOCTYPE html>
<html>
  <head>
    <title>Smart Spend</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
   <body>
     <% unless controller_name == "pages" %>
       <%= render "layouts/navbar" %>
     <%end%>
     <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </body>
</html>
